* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    height: 22vh;
    background: linear-gradient(0deg, rgba(78, 67, 208, 0.2), rgba(78, 67, 208, 0.2)), rgba(76, 82, 173, 0.93);
}


.footer h3{
    margin-left: 25px;
}
