<div class="footer">
    <h2>Contatos</h2>

    <div class="content-footer">
        <div>
            <h3>World Of Sneakers</h3>
        </div>
        <div class="contacts">
              <div class="contacts-row">
                <ul>
                    <li>worldofsneakers@gmail.com</li>
                    <li>(13)99132-0749</li>
                </ul>
              </div>

              <div class="contacts-row">
                <ul>
                    <li>worldofsneakers@gmal.com</li>
                    <li>(13)99132-0749</li>
                </ul>
              </div>   
        </div>
    </div>
</div>
