<div class="catalog">
    <div class="content-catalog">   
        <div class="options">
            <div class="btnCatalog">
                <button>Consultar Calçado</button>
            </div>
            <div class="btnCatalog">
                <button>Inserir Calçado</button>
            </div>
            <div class="btnCatalog">
                <button>Excluir Calçado</button>
            </div>
        </div>
    </div>
    <hr class="hr-btn">

    <div class="list">
      <ul>
          <li *ngFor="let sneaker of sneakers">
            <div class="li-row">
              <div class="content-li">
                <strong>Nome:</strong> {{ sneaker.name}} <br>
                <strong>Marca:</strong> {{ sneaker.brand}} <br>
                <strong>Cor:</strong> {{ sneaker.color }}<br>
                <button class="btn-li" (click)="removeSneaker(sneaker)">Excluir</button>
                <button class="btn-li" (click)="removeSneaker(sneaker)">Editar</button>
              </div>

              <div class="img-info-sneaker">
                <img class="img-sneaker" src="/assets/images/tenis-home.png" alt="imagem do calçado">
              </div>
              
            </div>  
          </li>
      </ul>
    </div> 
    
</div>

