.catalog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-catalog{
    display: flex;
    justify-content: center;
    align-items: center;
}
.options{
    display: flex;
    width: 650px;
    height: 120px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    background-color: black;

}
.btnCatalog button{
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;

    background-color: #7544e0;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    margin: 15px;
}

hr{
    margin: 25px;
    width: 500px;
}