<div class="about-title">
    <h1>World Of Sneakers</h1>
    <h2>O estilo do mundo inteiro em um só lugar!</h2>
</div>

<div class="about">
    <div class="about-content">
        <div class="about-content-text">
            <p>Nosso objetivo é manter a paixão, a cultura e o respeito no mundo dos sneakers, fizemos e estamos fazendo história por quase 10 anos. Com um catálogo completo dos mais variados modelos, dos conhecidos aos mais raros. Conheça nosso trabalho com mais detalhe no Youtube, agradecemos nosso amigos e clientes por todo apoio durante esses anos de WOF.</p>
            <p>Conheça o nosso sistema: </p>  
            <a class="btn" href=".../pages/catalog/" >Catálogo</a>
        </div>
        <img src="/assets/images/image2.png" alt="">
    </div>
</div>

