<div id="login">
    <div class="login-content">
        <form action="get">
            <div class="form-group">
                <input type="text"  placeholder="Usuário" formControlName="title" required>
            </div>
            <div class="form-group">
                <input type="password" autocomplete="off" placeholder="Senha" formControlName="title" required>
            </div>
            <div class="btn-content">
                <div>
                    <input type="submit"  class="btnForm" name="submit" value="Entrar">
                </div>   
            </div>
        </form>
    </div>
</div>