<div class="content-account">
    <div class="box-content">
        <div class="text-box">
            <h2>Cadastre-se</h2>
            <p>Já possui cadastro? Faça o seu <a [routerLink]="['/login']">Login</a></p>
        </div>

        <div class="content-row">
            <div class="form-account">
                <form action="get">
                    <div class="form-group">
                        <input type="text" autocomplete="off" placeholder="Usuário" formControlName="title" required>
                    </div>
                    <div class="form-group">
                        <input id="cpf" type="number" placeholder="CPF">
                        <label for=""></label>
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email">
                        <label for=""></label>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Senha">
                        <label for=""></label>
                    </div>
                    <div class="btn-content">
                        <div>
                            <input type="submit"  class="btnForm" name="submit" value="Concluir">
                        </div>   
                    </div>
                </form>
            </div>
            <img id="athlete" src="/assets/images/atleta1.png" alt="atletal de basquete">
        </div>

    </div>
</div>


