<div class="content-account">
    <div class="box-content">
        <div class="text-box">
            <h2>Cadastre-se</h2>
            <p>Já possui cadastro? Faça o seu <a href="">Login</a></p>
        </div>

        <div class="content-row">
            <div class="form-account">
                <form action="">
                    <input type="text">
                    <label for=""></label>
                </form>
            </div>
            <img id="athlete" src="/assets/images/atleta1.png" alt="atletal de basquete">
        </div>

    </div>
</div>


